Que 1 Write an code to reverse an string

In [157]:
sample=input("enter an string")
final=""
for e in sample:
    final=e+final
print("Reverse string is ",final)

enter an string 123

Reverse string is  321

Que 2 Count number of vowels instring

In [160]:
sample=input("enter an string")
final=0
for el in sample:
    if el=="a" or el=="e" or el=="i" or el=="o" or el=="u":
        final+=1
print(f"Number of vowels in {sample} is :",final)

enter an string Rahul Bamaniya

Number of vowels in Rahul Bamaniya is : 6

In [ ]:
sample=input("enter an string")
final=""
for e in sample:
    final=e+final
print(f"String {sample} is Plindrome : ",sample==final)

enter an string 121

String 121 is Plindrome :  True

In [178]:
first=input("enter an string")
second=input("enter an string")
boolean=False
lenfirst=len(first)
lensecond=len(second)
if lenfirst!=lensecond:
    print(f"String {first} and {second}  is not Anagram "  )
else:
    for el in first :
        if el  in second:
            boolean=True
            continue
                 
        else : 
            boolean=False
            break
    print(f"String {first} and {second}  is  Anagram :", boolean )

enter an string 123
enter an string 213

String 123 and 213  is  Anagram  True

In [168]:
first=input("enter an string")
second=input("enter an string")
lenfirst=len(first)
lensecond=len(second)
if lenfirst!=lensecond:
    print(f"String {first} and {second}  is not Anagram "  )
else:
    for el in first :
        if el  in second:
                 continue;
                 
        else : 
            print(f"String {first} and {second}  is not Anagram ")
            break
    print(f"String {first} and {second}  is  Anagram "  )

enter an string "rahul"
enter an string "rohit"

String "rahul" and "rohit"  is not Anagram
String "rahul" and "rohit"  is  Anagram

In [1]:
n="raahul"
c=0
n.find("a")

1

In [2]:
m.occurence("a")

NameError: name 'm' is not defined

In [3]:
n.count("a")

2

In [1]:
first_String=input("enter an string")
search_word=input("enter an string")
count=first_String.count(search_word)
first_String=input("enter an string")

enter an string I am Rahul Bamaniya ,I am from Indore
enter an string am

Total occurence of am is :  3

In [8]:
Sample_string=input("enter an string")
upper_str=Sample_string.upper()
lower_str=Sample_string.lower()
print(f"String '{Sample_string}' in UpperCase : ",upper_str)
print(f"String '{Sample_string}' in UpperCase : ",lower_str)

enter an string RaHUL baMANiya

String 'RaHUL baMANiya' in UpperCase :  RAHUL BAMANIYA
String 'RaHUL baMANiya' in UpperCase :  rahul bamaniya

In [15]:
Sample_string=input("enter an string :")
condition=True
c=""
count=0
for x in Sample_string :
    if Sample_string.count(x)!=1: 
        c+=x
        count= Sample_string.count(x)
        condition=False
        break
print(f"all character in {Sample_string} is unique:",condition)
if  not condition :
    print(f" Because occurence of {c} is ",count)

enter an string : rahul

all character in rahul is unique: True

In [19]:
first=input("enter an first string")
second=input("enter an second string")
combine_str="{} {}".format(first,second)
print(f" Combine String is ",combine_str)

enter an first string Rahul
enter an second string Bamnaiya

 Combine String is  Rahul Bamnaiya

In [31]:
li=["Rahul","Deepak","Rohan","Rahul"]
specific_el=input("enter element you want delete")
while specific_el in li :
    li.remove(specific_el)

print(f" List after deletion of {specific_el} ",li)

enter element you want delete Rahul

 List after deletion of Rahul  ['Deepak', 'Rohan']

In [26]:
x=int(l)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [37]:
l1=[1,2,3,2,11]
l2=[8,1,0,6,4,7]
l3=l1+l2
l3.sort()
print("final list is",l3)

final list is [0, 1, 1, 2, 2, 3, 4, 6, 7, 8, 11]

In [44]:
size=int(input("enter size"))
li=[]
while size>0 :
    el=int(input())
    li.append(el)
    size-=1
for i in range(0,size-1) :
    if li[i]<li[i+1]:
        print(f"{li} is sorted")
    else:
        print(f"{li} is not sorted")

enter size 5
 2
 1
 3
 7
 8

In [15]:
size=int(input("enter size"))
li=[]
while size>0 :
    el=int(input())
    li.append(el)
    size-=1
cond=True
for x in range(0,len(li)-1):
    if li[x]<=li[x+1] :
        continue
    else : 
        cond=False
        break
if cond :
    print(f" Given list {li} is sorted")
else :
    print(f" Given list {li} is not  sorted")

enter size 6
 2
 1
 3
 4
 5
 8

 Given list [2, 1, 3, 4, 5, 8] is not  sorted

In [16]:
li.reverse()

In [17]:
li

[8, 5, 4, 3, 1, 2]

In [38]:
l1=[1,2,3,4,5]
l2=[4,2,3,4,7]
l3=l1+l2

In [39]:
l3

[1, 2, 3, 4, 5, 4, 2, 3, 4, 7]

In [42]:
for x in l3:
    if l3.count(x)>1:
        while l3.count(x) > 1:
                  l3.remove(x)

l3

[1, 5, 2, 3, 4, 7]

In [34]:
l3

[1, 5, 7]

In [28]:
l1

[1, 2]

In [29]:
l1.remove(2)

In [30]:
l1

[1]

In [47]:
l1=[1,23,2,2,4]
l2=[2,1,3,4,5,6]
for x in l1:
    if l1.count(x)>1:
        while l1.count(x) > 1:
                  l1.remove(x)

#remove duplicate from l1
for x in l2:
    if l2.count(x)>1:
        while l2.count(x) > 1:
                  l2.remove(x)
#remove duplicate from l2
intersection_list=[]
for el in l1:
    if el in l2:
        intersection_list.append(el)
print(f" intersection of {l1} and {l2} is ",intersection_list)

 intersection of [1, 23, 2, 4] and [2, 1, 3, 4, 5, 6] is  [1, 2, 4]

In [44]:
l1

[1, 23, 2, 4]

In [48]:
st="rahul bamnaiya"
st.count("a")

4

In [50]:
string=input("enter na string")
cond=True
for x in string:
    if string.count(x)!=1:
        print(f"All character in {string} is not unique")
        cond=False
        break
if cond:
    print(f"All character in {string} is unique")

enter na string Rohan@123

All character in Rohan@123 is unique

In [51]:
# how take list input in python

/opt/conda/lib/python3.10/site-packages/IPython/core/inputtransformer2.py:604: UserWarning: `make_tokens_by_line` received a list of lines which do not have lineending markers ('\n', '\r', '\r\n', '\x0b', '\x0c'), behavior will be unspecified
  tokens_by_line = make_tokens_by_line(lines)

SyntaxError: unterminated string literal (detected at line 1) (3691139216.py, line 1)

In [52]:
# Write a function to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [53]:
li=[1,2,3,4,5]

In [56]:
pos=int(input("enter postion in which reverse a list"))
s=0
e=pos-1
while s<e:
    temp=li[s]
    li[s]=li[e]
    li[e]=temp
    s+=1
    e-=1
li

enter postion in which reverse a list 4

[4, 3, 1, 2, 5]